*{
    border: solid 1px red;
}

:root{
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --grey: #EAEAEA;
    --light-grey: #f3f3f3;
}

@mixin shadow{
    box-shadow: 0px 4px 4px 0px #00000040;
}

body{
    margin: 0;
    font-family: Roboto;
}

/* HEADER */
.header{
    max-height: 113px;

    .header__navigation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header__logo{
        width: 197px;
        height: 36px;
        margin: 14px 89px 13px;
    }

    .header__location{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        background-color: var(--grey);
        gap: 17px;
        font-size: 16px;
        
        @include shadow;
    }
}

/* MAIN */

/* EXPLORER */
.explorer{
    display: flex;
    flex-direction: column;
    padding: 40px 60px 57px;
    align-items: center;
    text-align: center;
    background-color: var(--light-grey);

    .explorer_title{
        font-size: 24px;
        max-height: 68px;
        margin-bottom: 0px;
    }

    .explorer__text{
        max-height: 46px;
        font-size: 18px;
        font-weight: 300;
    }

    .explorer__button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 218px;
        border-radius: 25px;
        background: linear-gradient(0deg, var(--main-color) -11.44%, var(--second-color) 123.93%);
        font-size: 16px;
        color: white;
        border: 0;
    }

    .explorer__button--a{
        margin-top: 50px;
    }
}

/* FONCTIONNEMENT */

.fonctionnement{
    margin: 0px 20px;

    .fonctionnement__card{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--light-grey);
        border-radius: 20px;
        margin: 25px 12px;
        gap: 20px;
        font-size: 16px;

        @include shadow;
    }

    .fonctionnement__card h3{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 24px;
        border-radius: 24px;
        background-color: var(--main-color);
        font-size: 14px;
        color: white;
        margin-left: -12px;
    }
}