* {
  border: solid 1px red;
  text-decoration: none;
}

:root {
  --main-color: #9356DC;
  --second-color: #FF79DA;
  --third-color: #99E2D0;
  --grey: #EAEAEA;
  --light-grey: #f3f3f3;
  --darker-green: #008766;
}

body {
  margin: 0;
  font-family: Roboto;
}

/* HEADER */
.header {
  max-height: 113px;
}
.header .header__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header .header__logo {
  width: 197px;
  height: 36px;
  margin: 14px 89px 13px;
}
.header .header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: var(--grey);
  gap: 17px;
  font-size: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

/* MAIN */
/* EXPLORER */
.explorer {
  display: flex;
  flex-direction: column;
  padding: 40px 60px 57px;
  align-items: center;
  text-align: center;
  background-color: var(--light-grey);
}
.explorer .explorer_title {
  font-size: 24px;
  min-height: 34px;
  margin-bottom: 0px;
}
.explorer .explorer__text {
  min-height: 46px;
  font-size: 18px;
  font-weight: 300;
}
.explorer .explorer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 218px;
  border-radius: 25px;
  background: linear-gradient(0deg, var(--main-color) -11.44%, var(--second-color) 123.93%);
  font-size: 16px;
  color: white;
  border: 0;
}
.explorer .explorer__button--a {
  margin-top: 50px;
}

/* FONCTIONNEMENT */
.fonctionnement {
  margin: 0px 20px;
}
.fonctionnement .fonctionnement__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--light-grey);
  border-radius: 20px;
  margin: 25px 12px;
  gap: 20px;
  font-size: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.fonctionnement .fonctionnement__card h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: var(--main-color);
  font-size: 14px;
  color: white;
  margin-left: -12px;
}

/* RESTAURANTS */
.restaurants {
  padding: 0px 20px 66px;
  background-color: var(--light-grey);
}
.restaurants .restaurants__card {
  display: flex;
  flex-direction: column;
  height: 240px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
}
.restaurants .restaurants__image {
  height: 170px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .restaurants__image_container {
  display: flex;
  flex-direction: row;
}
.restaurants .restaurants__nouveau {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--third-color);
  color: var(--darker-green);
  font-size: 14px;
  margin: 15px 0px 0px -95px;
  height: 29px;
  width: 80px;
}
.restaurants .restaurants__text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.restaurants .restaurants__text h3,
.restaurants .restaurants__text p {
  margin: 0;
  color: black;
}
.restaurants .restaurants__card_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants .restaurants__card_bottom i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.restaurants .restaurants__favori {
  color: var(--main-color);
}/*# sourceMappingURL=index.css.map */