/* GENERAL */

* {
  /* border: solid 1px red; */
  text-decoration: none;
}

:root {
  --main-color: #9356dc;
  --second-color: #ff79da;
  --third-color: #99e2d0;
  --grey: #eaeaea;
  --light-grey: #f3f3f3;
  --darker-green: #008766;
  --footer-background: #353535;
}

@mixin shadow {
  box-shadow: 0px 4px 15px 0px #00000040;
}

@keyframes menu_type {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  95% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

/* HEADER */
.header {
  max-height: 113px;

  .header__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .header__navigation i {
    font-size: 24px;
    padding: 20px;
    margin-right: -61px;
    align-items: flex-start;
    color: black;
  }

  .header__logo {
    display: flex;
    width: 150px;
    height: 36px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

/* MAIN */

.menu {
  background-color: var(--light-grey);
  .menu__image {
    height: 275px;
    width: 100%;
    object-fit: cover;
  }

  .menu_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-family: shrikhand;
    background-color: var(--light-grey);
    border-radius: 32px 32px 0 0;
    margin-top: -32px;
    padding: 0 20px;
    position: relative;

    .menu_header__heart {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }
  }
  .menu__type {
    display: flex;
    object-fit: contain;
    flex-direction: column;
    padding: 0px 20px;

    animation: menu_type 1s ease-in-out;
    &--2 {
      animation: menu_type 1.5s ease-in-out;
    }
    &--3 {
      animation: menu_type 2s ease-in-out;
    }
  }

  .menu__type h3 {
    font-size: 16px;
    font-weight: 300;
  }

  .menu__type span {
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--third-color);
  }

  .menu__element {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    padding: 15px 13.5px 13.5px;
    margin-bottom: 12px;
    overflow: hidden;

    @include shadow;

    &:hover {
      .menu__valide {
        transform: translateX(-16px);
      }
      .menu__prix p {
        margin-right: 60px;
      }
    }
  }

  .menu__detail {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    overflow: auto;
    white-space: nowrap;
  }

  .menu__detail h4,
  .menu__detail h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 10px 0 0;
    padding: 0;
  }

  .menu__detail h4 {
    font-size: 18px;
  }

  .menu__detail h5 {
    font-size: 15px;
    font-weight: 300;
  }

  .menu__prix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .menu__prix p {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    padding-right: 5px;

    transition: all 0.25s ease-in-out;
  }

  .menu__valide {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 0px 15px 15px 0;
    margin-bottom: -14px;
    margin-left: 60px;
    height: 101%;
    width: 60px;
    font-size: 20px;
    background-color: var(--third-color);
    color: white;

    transition: all 0.3s ease-out;
    transform: translateX(100%);
  }

  .menu__commande {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 30px;
  }

  .menu__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 218px;
    border-radius: 25px;
    background: linear-gradient(0deg, var(--main-color) -11.44%, var(--second-color) 123.93%);
    font-size: 16px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 0;

    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.85;
      box-shadow: 0px 4px 4px 0px #00000060;
    }
  }
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--footer-background);
  margin: 0;
  padding: 0;

  .footer__logo {
    color: white;
    font-family: shrikhand;
    font-size: 18px;
    margin-bottom: 16px;
    padding: 20px 0px 0px 20px;
  }

  .footer__link {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0px 20px 20px;
  }

  .footer__link a {
    color: white;
    font-size: 16px;
  }

  .footer__link i {
    width: 13px;
    padding-right: 15px;
  }
}
